/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 
  */

 @import "bootstrap";


/* Some Style from the Bootstrap Default Theme */

html {
  height:100%;
  }

footer {
  position: absolute;
  bottom: 0;
}

body {
  background-image:url('/assets/newyork.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}

a {
  color: #FFE5CF
}

a:hover {
  text-decoration: none;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.btn {
  border-color: white;
  background: transparent;
  color: white;
  border-width: 3px;
  margin: 7px;
  text-decoration: none;
}

.btn:hover{
	background: white;
	color: black;
}

h1, h2, h3, h4{
  font-family: 'Arvo', serif;
  color:white;
}

body h1{
  font-family: 'Arvo', serif;
}