body h1 {
  font-size: 60px;
  font-family: inherit;
  line-height: 1.1;
}

.container {
margin: 0px auto;
padding-right:36px;
padding-left:36px;
}

video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url(skyline.png) no-repeat;
background-size: cover;
}